.flip-book.stf__parent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .stf__block {
    position: absolute;
    /* width: 100vw !important;
      height: 100vh !important; */
    box-sizing: border-box;
    perspective: 2000px;
  }
  
  .stf__item {
    display: none;
    position: absolute;
    transform-style: preserve-3d;
  }
  
  .flip-book {
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); */
    display: none;
    background-size: cover;
  }