.firstPage {
  background-image: url("../../../../assets/media/firstPage.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
  width: 56% !important;
  padding-top: 35px !important;
  padding-left: 30px;
}

.note {
    bottom: 14%;
    font-size: 20px;
    height: 80px;
    left: 12%;
    position: absolute;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    width: 20%;
}
